<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoImpl" class="com.wugang.dao.UserDaoImpl"/>
    <bean id="userDaoMysqlImpl" class="com.wugang.dao.UserDaoMysqlImpl"/>
    <bean id="userDaoOracleImpl" class="com.wugang.dao.UserDaoOracleImpl"/>

    <!-- ref：用于引用其他的bean
         value：用于基本数据类型
     -->
    <bean id="userServiceImpl" class="com.wugang.service.UserServiceImpl">
        <property name="userDao"  ref="userDaoOracleImpl"/>
    </bean>
</beans>