<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean class="com.wugang.pojo.Cat"/>-->
<!--    <bean class="com.wugang.pojo.Dog"/>-->

<!--    &lt;!&ndash;-->
<!--     byName：会自动在容器上下文查找和自己对象set方法后面的值对应的beanid！id和set方法后面的值名称必须相同，否则找不到-->
<!--     byType：会自动在容器上下文查找和自己对象属性类型相同的bean！此时被装配对象bean的id可以省略-->
<!--     &ndash;&gt;-->
<!--    <bean id="people" class="com.wugang.pojo.People" autowire="byType">-->
<!--        <property name="name" value="周吴郑王"/>-->
<!--    </bean>-->


    <!-- 开启注解支持 -->
    <context:annotation-config/>

    <bean id="cat1" class="com.wugang.pojo.Cat"/>
    <bean id="cat2" class="com.wugang.pojo.Cat"/>
    <bean id="dog1" class="com.wugang.pojo.Dog"/>
    <bean id="dog2" class="com.wugang.pojo.Dog"/>
    <bean id="people" class="com.wugang.pojo.People"/>

</beans>